extends layout

block content
  body
    .container
      br
      br
      br
      p Hi there :)
      p Some useful links:
        ul
          li
            a(href="/groups") Groups present right now
          li
            a(href="/users") Users present right now
          li
            a(href="/api/groups") Groups Api
          li
            a(href="/api/users") Users Api

      p For the API, Postman is recommended.
    